/*style the buttons in navigationPane*/
.nav-button {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

/*change the color of the buttons in navigationPane on hover state*/
.nav-button:hover {
    -fx-background-color: #29B6F6;
}